<%= render "randomruns/header"  %>
<section class="devise">
  <h3><%= link_to "Edit your user", edit_user_registration_path %><br /></h3>

  <h3>Your random runs:</h3>
  <div>
      <ul>
          <% @randomruns.each do |random_run| %>
            <li><%= link_to random_run.actual_length.to_s + 
                    "m, Rating: " + random_run.rank.to_s + 
                    (random_run.rank.nil? ? "none" : random_run.rank.to_s), 
                    randomrun_path(random_run) %></li>
          <% end %>
      </ul>
  </div>
</section>