// Place all the styles related to the randomruns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.randomrun_form {
    display: none;
}

header {
    position: relative;
    height: 65px;
    background-color: lightcoral;
}

div#divWelcome {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div#divNav {
    float: right;
}

ul#ulNav {
    list-style-type: none;
    margin: 0;
    margin-right: 5px;
    padding: 0;
}

ul#ulNav > li {
    display: inline;
}

.textcenter {
    text-align: center;
}

.imgRun {
    width: 100px;
    height: 57px;
    margin: 0 auto;
    display: block;
    background-size: cover;
}

.hoverLogo {
    background-image: url(image_path("RandomRunner_small.gif"));
}

.staticLogo {
    background-image: url(image_path("Fun-Run-Logo1_small.jpg"));
}

img#imgLogout {
    width: 32px;
    height: 32px;   
}

p#btnMoreDetails {
    color: blue;
    text-decoration: underline;
}

div#divInfo {
    margin-top: 3px;
}

.countdown {
    width: 28px;
}

form#btnSkipForm,
form#btnSkipForm > div {
    display: inline;
}

div#divVotingButtons {
    display: inline;
}

div#divButtons {
    margin-top: 3px;
}

div#divEditableCountdown {
    margin-top: 3px;
    margin-bottom: 3px;
}

button#btnTerminate{
    float: right;
}